
<div class="banner">
  <div>
    <img src='<%= image_path('background-docto.jpeg') %>' width="100%">
    <!-- 'https://fac.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Ffac.2F2018.2F11.2F23.2F297b1cee-88ce-48b3-8e2e-ebef1b35c402.2Ejpeg/850x478/quality/90/crop-from/center/proprete-degats-comportements-genants-comment-regler-les-problemes-causes-par-les-chats.jpeg'> -->
    <h1 class="title">Doctolib TO DELETE</h1>

  </div>
</div>



<div>
  <h2>Pour prendre rendez-vous avec DoctoPlus ?</h2>
  <p>Créer une liste (ou grid ?) avec 4 blocs (PC, sinon 1 pour mobile) en dessous</p>
</div>




